<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dash Test App</title>
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body ng-controller="dsht.mainController as vm">
        <div class="shade-top"></div>
        <header id="topPanel">
            <nav>
                <div id="logo">
                    <a href="#/">Images' tiles</a>
                    <span>
                        <a href="https://gist.github.com/mattygug/5ad3906c533391de96e8c0ec4c18a30d">Dashmote test task</a>
                    </span>
                </div>
                <a class="pancake" href="#/"      >Home</a>
                <a class="pancake" href="#/images">Images</a>
            </nav>
            <div id="stats">
                <div class="stat" id="imagesTotalCount" ng-if="vm.stats.imagesTotalCount">
                    Images loaded:
                    <meter value="{{vm.stats.imagesTotalCount}}" max="100">{{vm.stats.imagesTotalCount}}</meter>
                </div>
            </div>
        </header>
        <main>
            <div ng-view="" class="view"></div>
        </main>
        <script src="js/vendor.js"></script>
        <script src="js/foot.js"></script>
        <script type="module" src="app/bootstrap.js"></script>
    </body>
</html>