<div>
    <div class="tiles-container">
        <div class="imagesColumn"
            ng-repeat="imageColumn in vm.imagesColumns">
            
            <dsht-image ng-repeat="image in imageColumn" vm="image"></dsht-image>

        </div>
    </div>
</div>