<section>
    <dl>
        <dt>Author_</dt>
        <dd>
            Denis S Kryukov
            <small>
                : <a target="_blank" href="mailto:derpsevdonim@gmail.com?subject=Dashmote's test task">derpsevdonim@gmail.com</a>
                : <a target="_blank" href="https://ru.linkedin.com/in/deniskryukov">https://ru.linkedin.com/in/deniskryukov</a>
            </small>
        </dd>
        <dt>Tech_</dt>
        <dd>
            <ul>
                <li><a target="_blank" href="https://angularjs.org">
                        AngularJS 1st
                    </a>
                </li>
                <li>Quasi <a target="_blank" href="http://es6-features.org">ES6</a> with <a href="https://www.npmjs.com/package/traceur">Traceur</a></li>
                <li><a target="_blank" href="http://www.w3schools.com/html/html5_new_elements.asp">HTML5 tags</a></li>
                <li><a target="_blank" href="http://sass-lang.com">SASS</a></li>
                <li><a target="_blank" href="http://gulpjs.com">Gulp</a>&amp<a target="_blank" href="http://bower.io">Bower</a></li>
                <li><a target="_blank" href="https://www.google.ru/search?q=etc...&tbm=isch">etc...</a></li>
            </ul>
        </dd>
        <dt>TODO:</dt>
        <dd>
            <ul>
                <li>Removing hidden items</li>
                <li>Fix Safari compatibility</li>
                <li>Bottom edge alignment</li>
                <li>More stats and tests</li>
            </ul>
        </dd>
    </dl>
</section>
<div style="float:right" >.= &nbsp</div>