body
    font-family: 'Lato', Calibri, Arial, sans-serif
    background: #f3f3f3
    color: #777

    main section
        padding: $topPanelHeight*2 10% $topPanelHeight
        border-bottom: 1px dotted gray
        box-shadow: 10px 0 100px 100px white

a
    color: #777
    text-decoration: none
    white-space: nowrap

    &:hover, &:active
        color: #333

dt
    font-weight: 700
    font-size: 110%
    padding: 10px

dd
    padding-left: 40px
    padding-bottom: 10px
    line-height: 1.2em

    li:before
        content: ': '

    small
        font-size: 79%