#imagesTiles
    position: absolute
    top: 0
    width: 100%

    .tiles-container
        padding-top: $topPanelHeight+10px
        position: absolute
        top: 0;
        width: 100%

        display: flex
        flex: row nowrap
        justify-content: space-around

.imagesColumn
    width: 320px

.imageTile
    text-align: center
    background: rgba(255,255,255,0.7)
    background-size: cover
    border-radius: 8%
    border: 4px dashed rgba(255, 255, 255, 0.7);
    margin: 5px 0
    z-index: 0
    position: relative
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3) inset
    transition: all 0.3s ease
    opacity: 0.9

    &:hover
        border-radius: 0
        border-style: solid
        border-color: white
        box-shadow: 0 0 6px 4px rgba(0,0,0,0.5)
        transition: all 0.3s ease
        flex-basis: 320px;
        opacity: 1

        p
            color: white
            background: rgba(0, 0, 0, 0.2)
            border-radius: 20px 20px 0 0
            left: 8%;
            right: 8%;
            bottom: 0px
            padding-bottom: 2px
            transition: all 5s ease
            opacity: 0

    img
        border-radius: 10px
        width: 300px
        transition: all 0.5s ease
        z-index: 1;

        &:hover
            width: 320px
            margin-top: -3% 
            transition: all 0.2s ease
            box-shadow: 0px 0px 10px 10px white
            z-index: 2
    p
        position: absolute
        bottom: 0
        left: 0;
        right: 0;
        padding: 2px 0 2px 0;
        border-radius: 0 0 100% 100%
        text-align: center
        font-size: 70%
        color: black
        background: rgba(255, 255, 255, 0.5)
        box-shadow: 0 4px 2px 4px rgba(255, 255, 255, 0.5);
        transition: all 0.5s ease
        opacity: 0.9