$pillsHeight: $topPanelHeight - 20px
.circly
    border-radius: 50%
    height: $pillsHeight
    width: $pillsHeight

    display: flex;
    justify-content: center;
    align-items: center;

#topPanel
    position: fixed
    top: 0
    left: 0
    right: 0
    height: $topPanelHeight
    background: rgba(255,255,255,0.7)
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
    z-index: 10;
    
    nav
        position: absolute
        left: 0px
        top: 0px
        width: 30%
        padding: 10px

        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: baseline
        min-width: 340px

        z-index: 100
        
        #logo
            height: 70px
            line-height: 30px
            margin: 10px
            vertical-align: middle
            display: inline-block
            text-align: center

            span
                padding: 0 0 0.6em 0.1em
                font-size: 60%
                opacity: 0.8

        .pancake
            @extend .circly
            border: 1px dashed rgba(255, 255, 255, 0.9)
            background: rgba(255,255,255,0.7)
            cursor: pointer
            margin: 0 4px

            &:hover
                text-decoration: underline

    #stats
        position: absolute
        right: 4px
        top: 4px
        width: 30%
        padding: 0px

        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        align-items: center
        // min-width: 200px

        z-index: 100

        .stat
            color: green;
            font-size: 70%;
            opacity: 0.7;

.shade-top
    z-index: 10
    position: fixed
    top: 0
    width: 100%
    height: 50px
    padding: 10px

    background: transparent
    background: linear-gradient(to top, transparent, rgba(255,255,255,0.8))

#imagesTiles
    position: relative